nav {
    border-width: 5px;
    border-style: solid;
    width: 30%;
}

header {
    border-width: 5px;
    border-style: solid;
}

main {
    border-width: 5px;
    border-style: solid;
    width: 70%;
}

#container {
    display: flex;
}